<p>i'm in california dreaming about who we used to be</p>
<p><%= session[:user_id] %></p>
<p><%= session[:quiz_grade] %></p>
<p><%= session[:color] %></p>

<%= form_tag do %>
<%= label_tag(:color, "color") %>
<%= text_field_tag(:color) %>
<%= submit_tag("change_color") %>
<% end %>